# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

# Default for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript files
[*.js]
indent_style = tab
indent_size = 4

# JSON files
[*.json]
indent_style = space
indent_size = 4

# HTML files
[*.html]
indent_style = tab
indent_size = 4

# CSS files
[*.css]
indent_style = tab
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

